@import "reset.css";
.body {
    font-family: sans-serif;
}

.welcome-header {
    margin-top: 90px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.welcome-header__title{
    margin-bottom : 20px;
    font-size: 25px;
}

.welcome-header__text{
    width: 60%
    
}