@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";

/* Screens */
@import "screens/login.css";

html {
    background-color:rgb(7, 12, 45);
    color:ivory;
}

.body {
    font-family: sans-serif;
}
